In [22]:
import numpy as np
from scipy import stats
import pandas as pd

In [21]:
stats.binom_test(67, 100, p=0.75)

0.082222588913866079

In [128]:
data = pd.read_table('pines.txt')

      sn   we
0  200.0  8.8

In [137]:
st = stats.binned_statistic_2d(data['sn'], data['we'], None, 'count', bins=[5, 5]).statistic
st.mean()

23.359999999999999

In [145]:
#print stats.chisquare(st.sum(axis=1), [23.36 for i in xrange(5)])
print stats.chisquare(st, None).statistic.mean()
print stats.chisquare(st, None).pvalue.mean()

t = []
for i in st:
    for s in i:
        t.append(s)
print "Правильный:", stats.chisquare(t, [23.36 for i in range(25)]).statistic
print "Правильный:", stats.chisquare(t, None).statistic

13.5065612356
0.0373594153528
Правильный: 150.589041096
Правильный: 150.589041096

In [ ]:
stats.chi2.cdf()

Отвергается