In [14]:
import numpy as np
import pandas as pd
from math import sqrt
from statsmodels.stats.weightstats import _tconfint_generic

In [15]:
data = pd.read_table('water.txt')

In [16]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [22]:
mort_std = data['mortality'].mean()

In [23]:
mort_mean_std = data['mortality'].std(ddof=1)/sqrt(data['mortality'].shape[0])

In [25]:
print _tconfint_generic(mort_std, mort_mean_std, data['mortality'].shape[0] - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [85]:
south_mortality = []
for i in range(data.shape[0]):
    if data.iloc[i]['location'] == 'South':
        south_mortality.append(data.iloc[i]['mortality'])
south_mortality = np.array(south_mortality)

south_mortality = np.array([i[2] for i in data.values if i[0] == 'South'])

[1247 1466 1299 1359 1392 1519 1307 1254 1318 1260 1096 1402 1581 1309 1259
 1175 1486 1456 1236 1369 1257 1625 1527 1627 1486 1485]

In [86]:
print _tconfint_generic(south_mortality.mean(), 
                        south_mortality.std(ddof=1)/sqrt(len(south_mortality)), 
                        len(south_mortality) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [59]:
north_mortality = np.array([i[2] for i in data.values if i[0] == 'North'])

In [60]:
print _tconfint_generic(north_mortality.mean(), 
                        north_mortality.std(ddof=1)/sqrt(len(north_mortality)), 
                        len(north_mortality) - 1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [ ]:
np.ceil((stats.norm.ppf(1-0.05/2) / 0.1)**2)